ul {
  list-style-type: none;
  padding: 0;
}
a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

/* dropdown */
.main-ul {
  display: flex;
}
.dropdown {
  padding: 10px 20px;
  position: relative;
}
.dropdown .down-angle {
  padding-left: 5px;
  font-size: 15px;
}
.dropdown-content {
  display: none;
  position: absolute;
  top: 40px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  min-width: 200px;
}
.dropdown-content li {
  border-bottom: 1px solid rgba(97, 109, 126, 0.12);
}
.dropdown-content li a {
  line-height: 40px;
  padding: 0 20px;
}
.dropdown-content li:last-child{
    border-bottom: none;
}

/* hover */
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content li::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background: red;
  transition: width 0.6s;
}
.dropdown-content li:hover::after {
  width: 100%;
}
.dropdown-content li:hover {
  border-bottom: 1px solid transparent;
}
.dropdown-content li:last-child::after{
    background-color: transparent;
}
.dropdown li a:hover{
    color: red;
}